/*@import "http://font.server/path/to/webfont";*/
@font-face {
	font-family: 'Harabara';
	src: url("../fonts/Harabara.otf") format("opentype");
}



/*GENERAL*/
body{ width:100%; left:0; margin:0; top:0; font-family: 'Open sans', 'Montserrat', 'Avenir', 'Lato', Arial !important; color:#2E2E2E;}
header, footer, section{ width:100%;  overflow:hidden; margin-top:0; height:auto;  }
section{min-height: 700px; position: relative;}
.container{ padding:7% 0; min-height:200px; width:80%; height:auto; /*border-bottom:1px #FFf solid;*/ margin:auto;  }
.content{ position:relative; margin:auto; }
.column{  width:50%; height:100%;  padding:30px 0 90px 0;  }
/**** texts ****/
a{ text-decoration:none; }
p{ line-height:35px; letter-spacing:0px;}
h1{ font-weight:500;   font-size:50px; margin-top:25px;letter-spacing:-2px;}
h2{  padding-top:50px; width:65%; margin:auto; font-weight:300;}
img{max-width: 100%; max-height:400px; }
/**** botones ****/
/**** left/right ****/
.left{ width:50%; position: relative; left: 0; float: left; }
.right{ width:49.5%; position: relative; right: 0; float: right;}
.align_right{ background:#f2f2f2; }
.align_right h2, .align_right .container p{ text-align:right; }
.align_left h2, .align_left .container p{ text-align:left; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
.text-shadow{text-shadow: 2px 2px #000;}
/**** clear ****/
.clear{ clear: both; }
li{list-style: none; display: inline;}
.abajo{position: absolute; bottom: 20px; text-align: center; width: 100%; margin: 0;}
.abajo img{width: 50px;}
.shadow{box-shadow: 5px 5px 5px #888888;}


/**** index page* ***/
	/**** header index ****/
	header{position: relative; min-height: 700px; color:#ffdae2; margin:0; padding:0;  background:  linear-gradient( rgba(0, 0, 0, 0.9),  rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url(../img/html-code.jpg);  background-size: cover; background-attachment: fixed; }
	header .right{/*border:solid 1px white;*/ box-shadow: 0 0 30px rgba(255,255,255,0.20); border-radius: 30px; text-align: center; background-color: rgba(255,255,255,0.1);}
	header img{max-width: 250px;}
	header menu	{position: absolute; bottom: 150px; height:25px; width:80%; font-weight:600;  padding:0 10%; margin-top:0;}
	.fixed{position: fixed; top: 0; background-color: black; transition: 2s; z-index: 999; height: 50px;}
	#menuPrincipal li{display: inline-block; color: white; position: relative; width: 16%; text-align: center;}
	#menuPrincipal li:hover{background-color: rgba(255,255,255,0.1);}
	#menuPrincipal li a{color: white;}
	.slicknav_menu{display: none}
	
	.estudios{background: url(../img/edificio_fie.jpg); background-attachment: fixed; background-size:cover; color:#ffdae2;}
	.estudios a{font-weight: 700}
	.estudios .left img{border-radius: 30px; max-width: 200px; box-shadow: 4px 6px 0px #000;}

	.contacto{background-color: #f5f5f5;}
	.iconoSocial{text-align: center;}
	.iconoSocial img{width: 15%; margin: 5px;}

	.certificados{width: 100%; min-height: 150px;}
	.testdome-certificate-stamp{float: left;}

	.extra{background: url(../img/musica.png); background-attachment: fixed; background-size:cover;}
	
	/*section footer*/
	footer{ background:#000; max-height: 200px; text-align: center; }
	footer .container{padding: 0; min-height: 30px}
	footer .container a:hover{ color:#FD5451; }
	
	

/*Responsive*/
/*TABLET*/
@media only screen and (max-width: 800px){
	/*general*/
	header,section{min-height: 800px;}
	menu{display: none;}
	figure{text-align: center;}

	.slicknav_menu{display:block; position: fixed; top: 0; z-index: 999; width: 100%;}
	.slicknav_menu a{font-weight: 600;}

	.right,.left{width: 100%;}

	.bio{min-height: 1050px;}
	.estudios{min-height: 1000px}
	.habilidades{min-height: 900px;}

	.contacto{min-height: 850px;}
	#twitter-widget-0{width: 100% !important;}

	.extra{min-height: 500px;}

}
/*MOBILE*/
@media only screen and (max-width: 46em){
	/*general*/
	header {min-height: 500px;}
	header h1{zoom:50%;}
	header img{zoom:50%;}

	#habilidades h1{zoom:70%;}
}